<h3>{{ today | date: 'YYYY-MM-dd'}}</h3>
<input type="text" name="value" placeholder="Enter some text" style="font-size: x-large;" [(ngModel)]="value">
<h2>{{ value | uppercase }}</h2>
<button type="button" style="font-size: x-large;" (click)="clearValue()">Clear Text</button>
<div class="container text-center fs-4" style="margin-top: 50px;">
    <h2>Student Data</h2>
    <table class="table table-hover">
        <tr class="table-success">
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
        </tr>
        @for (student of students; track student.id) {
        <tr>
            <td>
                {{ student.id }}
            </td>
            <td>
                {{ student.name }}
            </td>
            <td>
                {{ student.age }}
            </td>
            <td>
                {{ student.gender | gender }}
            </td>
            }
    </table>
</div>